.contact-container{
  background: var(--clr-bg3);
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  height: 30rem;
  margin: 7rem auto;
  border-radius: 1rem;
}

/* ====================== Aside ==================== */
.contact-aside{
  background: var(--clr-bg2);
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
  top: 5rem;
}

.aside-img img{
  width: 4rem;
  margin-bottom: 2rem;
}

.contact-aside h2{
  text-align: left;
  margin-bottom: 0.5rem;
}

.contact-aside p{
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.contact-details li{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0.7rem;
}

.contact-socials{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  margin-left: 0.7rem;
  gap: 0.8rem;
}

.contact-socials a{
  background: var(--clr-bg3);
  border-radius: 50%;
  padding: 0.4rem;
  transition: var(--trans);
}


.contact-socials a:hover {
  background: transparent;
  box-shadow: 0 0 2rem rgba(0,0,0,0.4);
}

/* ================== Form ========================= */

form{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-right: 4rem;
}

.form-name{
  display: flex;
  gap: 1.2rem;
}

form input[type="text"]{
  width: 50%;
}

form input, textarea{
  width: 100%;
  padding: 1rem;
  background: var(--clr-bg2);
  color: var(--clr-white);
  border-radius: 0.2rem;
}

form .btn{
  width: max-content;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}


/* ================== Media queries(tablets) ===================== */

@media screen and (max-width:1024px) {
  .contact{
    padding-bottom: 0;
    margin-bottom: 15rem;
  }

  .contact-container{
    gap: 1.5rem;
    margin-top: 3rem;
    height: auto;
    padding: 1.5rem;
  }

  .contact-aside{
    width: auto;
    padding: 1.5rem;
    bottom: 0;
  }

  form{
    align-self: center;
    margin-right: 1.5rem;
  }
}

/* =================== Mobile ===================== */

@media  screen and (max-width: 750px) {
  
  .contact-container{
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
    margin-top: 0;
    padding: 0;
  }

  .contact-aside{
    width: 70%;
    margin: 0 auto;
  }

  form{
    margin:  0 1.5rem 3rem;
  }

  .form-name input[type="text"]{
    width: 50%;
  }
    
}